.window {
  border-radius: 26px
}

.tile {
  font-size: 42px;
  padding : 8px;
  -gtk-icon-size: 50px;
  background-color: #ddd1a1;

    /* background-color: rbga(0,0,0,0); */
    /* padding : 0px; */
    /* border-radius: 0px; */
}
.tile:hover{
  /* background-color: #e4dab4; */
}

.dice {
  font-size: 42px;
  padding : 8px;
  background-color: #38383c;
}
.dice:hover {
  background-color: #434347;
}

.board-outer {
    background-color: #7b6533;
    border: 14px solid #7b6533;
    border-radius: 26px;
}
.board-inner {
    background-color: #C4AC78;
    border-radius: 13px;
    padding: 20px 15px 20px 15px;
}


.pile-top{
  padding : 8px;
  -gtk-icon-size: 50px;
  background-color: rgba(0,0,0,0);
}
.pile-top:hover{
  background-color: #d0b484;
}

.off-board{
  background-color: #d5bc90;
}
.off-board:hover{
  background-color: #d9c39d;
}

.board-dice{
  font-size: 42px;
  padding : 8px;
  -gtk-icon-size: 50px;
  background-color: rgba(0,0,0,0);
}
.board-dice:hover{
  background-color: rgb(202, 191, 148);
}

.dice-result {
  color: white;
  background-color: rgba(0,0,0,0);
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
